In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Reading the data

In [54]:
data = pd.read_csv("../DataSets/covid19_who_data.csv")
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

# EDA

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179883 entries, 0 to 179882
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    179883 non-null  object
 1   continent                                   169355 non-null  object
 2   location                                    179883 non-null  object
 3   date                                        179883 non-null  object
 4   total_cases                                 173325 non-null  float64
 5   new_cases                                   173090 non-null  float64
 6   new_cases_smoothed                          171921 non-null  float64
 7   total_deaths                                155143 non-null  float64
 8   new_deaths                                  155129 non-null  float64
 9   new_deaths_smoothed                         153982 non-null  float64
 10  total_cases_per_million                     172523 non-null  float64
 11  new_cases_per_million                       172288 non-null  float64
 12  new_cases_smoothed_per_million              171124 non-null  float64
 13  total_deaths_per_million                    154354 non-null  float64
 14  new_deaths_per_million                      154340 non-null  float64
 15  new_deaths_smoothed_per_million             153198 non-null  float64
 16  reproduction_rate                           134218 non-null  float64
 17  icu_patients                                24685 non-null   float64
 18  icu_patients_per_million                    24685 non-null   float64
 19  hosp_patients                               25410 non-null   float64
 20  hosp_patients_per_million                   25410 non-null   float64
 21  weekly_icu_admissions                       5848 non-null    float64
 22  weekly_icu_admissions_per_million           5848 non-null    float64
 23  weekly_hosp_admissions                      11649 non-null   float64
 24  weekly_hosp_admissions_per_million          11649 non-null   float64
 25  total_tests                                 74807 non-null   float64
 26  new_tests                                   72181 non-null   float64
 27  total_tests_per_thousand                    74807 non-null   float64
 28  new_tests_per_thousand                      72181 non-null   float64
 29  new_tests_smoothed                          93746 non-null   float64
 30  new_tests_smoothed_per_thousand             93746 non-null   float64
 31  positive_rate                               87029 non-null   float64
 32  tests_per_case                              86084 non-null   float64
 33  tests_units                                 96427 non-null   object
 34  total_vaccinations                          48788 non-null   float64
 35  people_vaccinated                           46400 non-null   float64
 36  people_fully_vaccinated                     43853 non-null   float64
 37  total_boosters                              21427 non-null   float64
 38  new_vaccinations                            40086 non-null   float64
 39  new_vaccinations_smoothed                   93896 non-null   float64
 40  total_vaccinations_per_hundred              48788 non-null   float64
 41  people_vaccinated_per_hundred               46400 non-null   float64
 42  people_fully_vaccinated_per_hundred         43853 non-null   float64
 43  total_boosters_per_hundred                  21427 non-null   float64
 44  new_vaccinations_smoothed_per_million       93896 non-null   float64
 45  new_people_vaccinated_smoothed              92936 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  92936 non-null   float64
 47  stringency_index                            140793 non-null  float64
 48  population                                  178764 non-null  float64
 49  population_density                          160255 non-null  float64
 50  median_age                                  148482 non-null  float64
 51  aged_65_older                               146900 non-null  float64
 52  aged_70_older                               147699 non-null  float64
 53  gdp_per_capita                              148134 non-null  float64
 54  extreme_poverty                             96875 non-null   float64
 55  cardiovasc_death_rate                       148169 non-null  float64
 56  diabetes_prevalence                         155418 non-null  float64
 57  female_smokers                              112552 non-null  float64
 58  male_smokers                                111009 non-null  float64
 59  handwashing_facilities                      72925 non-null   float64
 60  hospital_beds_per_thousand                  131403 non-null  float64
 61  life_expectancy                             168188 non-null  float64
 62  human_development_index                     144745 non-null  float64
 63  excess_mortality_cumulative_absolute        6078 non-null    float64
 64  excess_mortality_cumulative                 6078 non-null    float64
 65  excess_mortality                            6078 non-null    float64
 66  excess_mortality_cumulative_per_million     6078 non-null    float64
dtypes: float64(62), object(5)
memory usage: 92.0+ MB

In [56]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.733250e+05,1.730900e+05,1.719210e+05,1.551430e+05,155129.000000,153982.000000,172523.000000,172288.000000,171124.000000,154354.000000,...,112552.000000,111009.000000,72925.000000,131403.000000,168188.000000,144745.000000,6.078000e+03,6078.000000,6078.000000,6078.000000
mean,2.907924e+06,1.241859e+04,1.245345e+04,6.125176e+04,165.682316,166.706073,35293.558736,181.652901,181.822297,549.008218,...,10.648229,32.786700,50.840514,3.027423,73.661927,0.725389,3.899161e+04,9.582009,15.804225,1035.395150
std,1.809282e+07,8.861417e+04,8.707442e+04,3.202140e+05,813.052252,796.262060,65022.787344,748.288038,577.097376,830.871205,...,10.586567,13.524572,31.809520,2.446844,7.463476,0.149843,1.088362e+05,16.258235,29.521194,1482.622037
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.357000e+03,1.000000e+00,6.857000e+00,8.600000e+01,0.000000,0.143000,689.162000,0.020000,1.584000,20.386000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-4.415000e+01,-0.450000,-0.560000,-18.981390
50%,3.068000e+04,7.700000e+01,1.061430e+02,8.410000e+02,2.000000,2.286000,5455.460000,11.099000,19.187000,146.815000,...,6.300000,31.400000,49.839000,2.400000,75.090000,0.743000,3.585550e+03,6.300000,7.380000,512.797169
75%,3.394430e+05,1.071000e+03,1.170714e+03,7.935000e+03,19.000000,20.714000,44069.150500,103.421000,126.318000,785.528750,...,19.300000,41.300000,82.502000,4.000000,79.190000,0.845000,2.639225e+04,14.640000,22.465000,1699.146464
max,5.050532e+08,4.089061e+06,3.437005e+06,6.199914e+06,18144.000000,14783.286000,706541.904000,51427.491000,16052.608000,6374.632000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.163660e+06,111.010000,375.000000,9573.960130

# Data Cleaning

In [57]:
 a = data.isnull().sum()
print(a)

iso_code                                        0
continent                                   10528
location                                        0
date                                            0
total_cases                                  6558
                                            ...
human_development_index                     35138
excess_mortality_cumulative_absolute       173805
excess_mortality_cumulative                173805
excess_mortality                           173805
excess_mortality_cumulative_per_million    173805
Length: 67, dtype: int64

In [58]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [59]:
usefull_columns_stats = ['date', 'continent', 'location', 'total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_vaccinations_per_hundred', 'population', 'population_density', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'gdp_per_capita', 'extreme_poverty', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']

In [60]:
data = data[usefull_columns_stats]

In [61]:
data.isnull().sum()

date                                   0
continent                          10528
location                               0
total_cases                         6558
total_deaths                       24740
total_cases_per_million             7360
total_deaths_per_million           25529
total_vaccinations_per_hundred    131095
population                          1119
population_density                 19628
diabetes_prevalence                24465
female_smokers                     67331
male_smokers                       68874
gdp_per_capita                     31749
extreme_poverty                    83008
hospital_beds_per_thousand         48480
life_expectancy                    11695
human_development_index            35138
dtype: int64

In [62]:
data.dropna(inplace=True)
data.sort_values(by='date', ascending=False, inplace=True)
data

,date,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,population,population_density,diabetes_prevalence,female_smokers,male_smokers,gdp_per_capita,extreme_poverty,hospital_beds_per_thousand,life_expectancy,human_development_index
179882,2022-04-18,Africa,Zimbabwe,247297.0,5464.0,16385.780,362.042,67.27,1.509217e+07,42.729,1.82,1.6,30.7,1899.775,21.4,1.700,61.49,0.571
25657,2022-04-18,Europe,Bulgaria,1150342.0,36810.0,166797.092,5337.370,63.40,6.896655e+06,65.180,5.81,30.1,44.4,18563.307,1.5,7.454,75.05,0.816
124882,2022-04-18,Asia,Pakistan,1527411.0,30364.0,6782.467,134.831,108.60,2.251999e+08,255.573,8.35,2.8,36.7,5034.708,4.0,0.600,67.27,0.557
122498,2022-04-18,Europe,Norway,1420033.0,2783.0,259811.451,509.182,206.46,5.465629e+06,14.462,5.31,19.6,20.7,64800.057,0.2,3.600,82.40,0.957
34237,2022-04-18,Asia,China,630678.0,4648.0,436.692,3.218,229.71,1.444216e+09,147.674,9.74,1.9,48.4,15308.712,0.7,4.340,76.91,0.761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43320,2020-12-08,Europe,Denmark,94799.0,901.0,16307.255,154.989,0.00,5.813302e+06,136.520,6.41,19.3,18.8,46682.515,0.2,2.500,80.90,0.940
122002,2020-12-08,Europe,Norway,39163.0,361.0,7165.324,66.049,0.00,5.465629e+06,14.462,5.31,19.6,20.7,64800.057,0.2,3.600,82.40,0.957
89730,2020-12-07,Europe,Latvia,21520.0,272.0,11526.921,145.693,0.00,1.866934e+06,31.212,4.91,25.6,51.0,25063.846,0.7,5.570,75.29,0.866
89727,2020-12-04,Europe,Latvia,19993.0,242.0,10709.002,129.624,0.00,1.866934e+06,31.212,4.91,25.6,51.0,25063.846,0.7,5.570,75.29,0.866
121996,2020-12-02,Europe,Norway,36969.0,351.0,6763.906,64.220,0.00,5.465629e+06,14.462,5.31,19.6,20.7,64800.057,0.2,3.600,82.40,0.957

In [64]:
data = data[data['date'] == '2022-04-18']

In [66]:
len(pd.unique(data['location']))

39

In [68]:
data.to_csv('../DataSets/StatData.csv')

In [69]:
pd.unique(data['location'])

array(['Zimbabwe', 'Bulgaria', 'Pakistan', 'Norway', 'China', 'Croatia',
       'Djibouti', 'El Salvador', 'Nepal', 'Estonia', 'Fiji', 'Greece',
       'Turkey', 'Hungary', 'India', 'Indonesia', 'Iran', 'South Africa',
       'Morocco', 'Montenegro', 'Israel', 'Thailand', 'Mongolia', 'Italy',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lithuania', 'Malaysia',
       'South Korea', 'Malta', 'Russia', 'Georgia', 'Australia',
       'Uruguay', 'Romania', 'Brazil', 'Bangladesh', 'Zambia'],
      dtype=object)